<!-- <div class="grid p-2 h-full items-center gap-2 border-2 rounded-md border-gray-300"> -->
<div class="flex flex-col justify-between p-4 h-full gap-2 border-2 rounded-md border-gray-300">
    <p class="py-1 font-bold">{{auction.title}}</p>
    <p class="py-1 text-sm">{{auction.description}}</p>
    <p class="py-1 text-sm font-bold">{{auction.startPrice | currency: 'MXN'}}</p>
    <p class="py-1 text-violet-800 text-sm font-bold">
        <ng-container *ngIf="auction.startsOn">
            Fecha: {{auction.startsOn?.seconds * 1000 | date: 'MMM d, yyyy, h:mm a z'}}
        </ng-container>
        <ng-container *ngIf="!auction.startsOn">
            Fecha no definida
        </ng-container>
    </p>
    <button *ngIf="getUserRole() === 'ADMIN'" (click)="editAuction()"
        class="p-2 border-2 rounded-md border-indigo-300 hover:bg-indigo-300">Editar</button>
    <button (click)="openDetails()"
        class="p-2 border-2 rounded-md border-indigo-300 hover:bg-indigo-300">Detalles</button>
    <button *ngIf="getUserRole() !== 'ADMIN' && isActive" (click)="bid()"
        class="p-2 border-2 rounded-md text-white border-indigo-600 bg-indigo-600 hover:border-indigo-300 hover:bg-indigo-300 ">
        Ofertar: {{auction.increasePrice | currency: 'MXN'}}
    </button>
</div>