<li class="flex flex-col h-full justify-between items-center text-center p-4 border-2 rounded-md border-gray-400 border-solid">
    <img [src]="book.src" [alt]="book.title" width="50" />
    {{book.title | titlecase}} by {{book.author | titlecase}}
    <p>{{book.price | currency: 'MXN'}}</p>
    <button class="w-fit p-2 rounded-md bg-yellow-300" *ngIf="!isInCart" (click)="addToCart()">Add to cart</button>
    <button class="w-fit p-2 rounded-md bg-red-300" *ngIf="isInCart" (click)="removeFromCart()">Remove from cart</button>
</li>