<div class="flex flex-col items-center">
    <a class="self-start text-lg text-indigo-500 font-bold" routerLink="/">Regresar</a>
    <p class="text-xl font-bold">
        <ng-container *ngIf="auctionForm.value.uid">Actualizar subasta</ng-container>
        <ng-container *ngIf="!auctionForm.value.uid">Crear subasta</ng-container>
    </p>

    <form class="grid gap-2 w-full max-w-lg" (ngSubmit)="saveAuctionForm()" [formGroup]="auctionForm">
        <label for="title">Título de la subasta</label>
        <input required type="text" name="title" id="title"
            class="p-2 border-2 border-solid border-gray-400 rounded-md outline-blue-400" formControlName="title"
            placeholder="Título de la subasta">

        <label for="title">Descripción de la subasta</label>
        <textarea required name="description" id="description" rows="4"
            class="p-2 border-2 border-solid border-gray-400 rounded-md outline-blue-400 resize-none"
            formControlName="description" placeholder="Descripción de la subasta"></textarea>

        <label for="title">Fecha de la subasta</label>
        <input required type="datetime-local" id="dueDate" name="dueDate" formControlName="dueDate">

        <label for="title">Comenzar la subasta en </label>
        <input required type="number" name="startPrice" id="startPrice"
            class="p-2 border-2 border-solid border-gray-400 rounded-md outline-blue-400" formControlName="startPrice"
            placeholder="Precio inicial">

        <label for="title">Incremento de la puja:</label>
        <input required type="number" name="increasePrice" id="increasePrice"
            class="p-2 border-2 border-solid border-gray-400 rounded-md outline-blue-400"
            formControlName="increasePrice" placeholder="Incremento por puja">

        <div class="pt-2 grid grid-flow-col gap-3 justify-start">
            <button type="submit" [disabled]="auctionForm.invalid" *ngIf="auctionForm.touched"
                class="rounded p-2 w-fit bg-indigo-600 text-white hover:bg-indigo-400 disabled:pointer-events-none disabled:opacity-60">
                <ng-container *ngIf="auctionForm.get('uid')?.value">
                    Guardar cambios
                </ng-container>
                <ng-container *ngIf="!auctionForm.get('uid')?.value">
                    Crear subasta
                </ng-container>
            </button>
            <button type="button" (click)="deleteAuction()" *ngIf="auctionForm.get('uid')?.value"
                class="rounded p-2 w-fit bg-red-600 text-white hover:bg-red-400 disabled:pointer-events-none disabled:opacity-60">
                Eliminar subasta
            </button>
        </div>
    </form>

    <div class="grid gap-2 mt-2 w-full max-w-lg">
        <p class="text-xl font-bold">Artículos</p>
        <button type="button" (click)="openItemComponent()"
            class="w-fit p-2 rounded-md border-2 border-solid border-indigo-300 hover:bg-indigo-300 ng-star-inserted">
            Agregar artículo
        </button>
        <!-- Arreglo de articulos de la subasta -->
        <!-- <button type="button" (click)="openArticleDialog()"
            class="w-fit p-2 rounded-md border-2 border-solid border-indigo-300 hover:bg-indigo-300 ng-star-inserted">
            Agregar artículo
        </button> -->
        <!-- <div class="grid gap-1 sm:grid-cols-2 lg:grid-cols-3" *ngIf="articles.length">
            <button (click)="openArticleDialog(article, i)"
                class="p-2 rounded-md shadow-gray-400 shadow-sm hover:bg-indigo-300 whitespace-nowrap text-ellipsis overflow-hidden"
                *ngFor="let article of articles; let i = index" type="button">
                {{article.name}}
            </button>
        </div> -->
        <!-- Coleccion de items con relacion a la subasta -->
        <div class="grid gap-1 sm:grid-cols-2 lg:grid-cols-3" *ngIf="items.length">
            <button (click)="openItemComponent(item)"
                class="p-2 rounded-md shadow-gray-400 shadow-sm hover:bg-indigo-300 whitespace-nowrap text-ellipsis overflow-hidden"
                *ngFor="let item of items; let i = index" type="button">
                {{item.name}}
            </button>
        </div>
    </div>
</div>