<app-spinner></app-spinner>
<nav class="w-100 flex justify-between p-4 bg-purple-400 text-white text-xl font-bold">
    <div>
        <a class="mx-2 hover:text-blue-400" routerLink="/">Home</a>
        <ng-container *ngIf="isAuthenticated()">
            <a class="mx-2 hover:text-blue-400" routerLink="/users">Users</a>
        </ng-container>
    </div>
    <div>
        <a class="mx-2 hover:text-blue-400" routerLink="/cart">My cart</a>
        <ng-container *ngIf="!isAuthenticated()">
            <a class="mx-2 hover:text-blue-400" routerLink="/login">Login</a>
            <a class="mx-2 hover:text-blue-400" routerLink="/register">Register</a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()">
            <a class="mx-2 hover:text-blue-400 cursor-pointer" (click)="logout()">Logout</a>
        </ng-container>
    </div>
</nav>

<div class="p-4">
    <router-outlet></router-outlet>
</div>